{% extends "base.html" %}
{% load static %}

{% block title %}Чат-Котят{% endblock %}

{% block content %}
    <header>
    <h1>{{ user.username }}</h1>
    <a class="logout btn" href="{% url "logout" %}">Выход</a>
    <!--создали ссылочку-->
    </header>
    <div class="chat">
        {% for m in messages %}
            {% include "chat/message.html" with message=m %}
        {% endfor %}
    </div>

    <form class="input message-form" id="message-form" action="{% url "message_create" %}" method="post">
    <!--метод post для того, чтобы сразу постилось сообщения, без доп формы-->
        {% csrf_token %}
        <div class="input__attach btn"></div>
        <input type="text" value="" name="text" placeholder="Введите сообщение"/>
        <button type="submit" class="input__send btn"></button>
    </form>
{% endblock %}